@import "../../Styles/variable";

.register-form-container {
  min-height: calc(100% - 80px);
  background-color: $light-gray-color;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid;

  .register-form {
    width: 400px;
    padding: 10px;
    background: $white-color;
    border: 1px solid $light-white-color;
    opacity: 1;
    border-radius: 10px;
  }

  .register-form-head {
    display: flex;
    flex-direction: column;
    padding: 11px 68px;
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    background: $light-blue-color 0% 0% no-repeat padding-box;
    color: $white-color;
    text-transform: capitalize;
    opacity: 1;
    border-radius: 8px;
    padding-bottom: 10px;
  }

  .register-form-head {
    justify-content: flex-start;
  }

  .register-head-title {
    flex: 0 1 auto;
    text-align: center;
    left: 40%;
  }

  .register-cancel-icon {
    margin-left: auto;
    align-items: center;
    border-radius: 40%;
    background-color: $white-color;
  }

  .register-row-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .label {
    min-width: 140px;
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  .text {
    text-align: left;
    font-size: 16px;
    color: $black-blue-color;
    opacity: 1;
    font-family: Roboto;
  }

  .register-input {
    width: 100%;
    padding: 12px;
    border: 1px solid $dark-gray-color;
    border-radius: 4px;
    resize: vertical;
  }

  select {
    display: flex;
    flex-direction: row;
    padding: 12px;
    border: 1px solid $dark-gray-color;
    border-radius: 4px;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: $black-blue-color;
    background-color: transparent;
    resize: horizontal;
  }

  .register-select-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    background: $white-color 0% 0% no-repeat padding-box;
    letter-spacing: 0px;
    color: $black-blue-color;
    background-color: transparent;
    border-radius: 3px;
  }

  .register-submit {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .register-button-content {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 60px;
  }

  .submit-button {
    margin: 10px;
  }

  .register-button {
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: $black-blue-color;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid $dark-gray-color;
    cursor: pointer;
    border-radius: 4px;
    background-color: $gray-color;
  }

  .submit-button:hover {
    color: $white-color;
    background-color: $green-color;
  }

  .link-register {
    display: flex;
    text-align: left;
    color: $blue-color;
    font-weight: bold;
    text-decoration: none;
  }
  #error-output {
    text-align: left;
    font-size: 16px;
    font-style: italic;
    color: $red-color !important;
  }
}
